.root {
    position: relative;
    padding: 24px;
    height: 100%;
    background-color: var(--neutral-1);
    border-radius: var(--border-radius-m);
}

:global(.ant-tabs-tab-btn) {
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
}

@media (max-width: 834px) {
    :global(.ant-tabs-tab-btn) {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }
}

/* :global(.ant-tabs-nav-wrap) {
    justify-content: space-between !important;
  } */

.marathonTab {
    background-image: url('/public/marathon-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.alert {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
}