.container {
    padding: 16px 0;
    display: flex;
    gap: 24px;
}

.filterTitle {
    min-width: 120px;
}

@media(max-width: 576px) {
    .container {
        padding: 0;
        gap: 16px;
    }
}
