.container {
    width: 70%;
    padding: 24px 0;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

@media(max-width: 914px) {
    .container {
        gap: 16px;
        width: 60%;
    }
}

@media(max-width: 724px) {
    .container {
        width: 90%;
    }
}

@media(max-width: 576px) {
    .container {
        width: 100%;
    }
}
